html{
    /*
    Pas de marge externe et interne et la taille des boites est égales au bordure des blocs
     */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*
    Fond d'écran gris foncé + couleur du texte blanc
     */
    background-color: #fff;
    /* Appel de la police CDN */
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}


/*
Bar de navigation
*/
#main-navbar{
    width: 100%;
}
.nav-item{
    width: 33%;
}
/* BRN Burger*/
.navbar-toggler{
    background-color: #bdb76b;
}
/*BLOC 2*/
#bloc2{
    background-color: darkkhaki;
    height: 400px;
}
#bloc2-interne{
    color: white;
    padding: 20px;
}
#bloc2-interne-2{
    background-color: white;
    border-radius: 20px;
    color: #333333;
    width: 100%;
}

/*BLOC 3*/
#bloc3{
    margin-top: 500px;
}


/*RESPONSIVE*/
/* Quand écran est en dessous 600 pixels , On cache les liens sauf Accueil . On remplace par un boutton */
@media screen and (max-width: 600px) {
    #bloc2-interne-2{
        display: block;
        float: left;
    }
}

/* La classe responsive est ajoutée a top nav avec JavaScript quand utilisateur click icon. la classe rend facile la navigation pour les petits écrans (panneau vertical) */
@media screen and (max-width: 600px) {

}


